.panel-default > .panel-heading {
  background-color: $base-color;
  color: $base-color;
}
.panel-title {
  color: $text-color;
}
.panel-default .panel-title { color: $base-color; }
.panel-primary {
  .panel-heading {
    background: #E8E8E8;
    border-color: #D8D8D8;
    color: $text-color;
  }
}
.panel-secondary {
  .panel-heading {
    background: #E8E8E8;
    color: $text-color;
  }
}
.panel-small {
  .panel-heading {
    background: #E8E8E8;
    color: $text-color;
  }
}
.panel-subaccordion {
  .panel-heading {
    background: #E8E8E8;
    color: $text-color;
  }
}
