<div class="transbox">
  <div class="innerTransbox">
    <h3><strong>MDT</strong></h3>

    <div class="form-horizontal text-left">

      <div class="form-group">
        <label class="control-label col-md-3">Service / Team:</label>
        <div class="col-md-9">
          <div class="form-control-static">
            <span ng-if="!$ctrl.genericMdt.serviceTeam.length">No Multidisciplinary Team</span>
            <ul ng-if="$ctrl.genericMdt.serviceTeam">
              <li>{{$ctrl.genericMdt.serviceTeam}}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3">Date of Request:</label>
        <div class="col-md-9">
          <div class="form-control-static">
            <span ng-if="!$ctrl.genericMdt.dateOfRequest">No MDT date</span>
            <ul ng-if="$ctrl.genericMdt.dateOfRequest">
              <li>{{$ctrl.genericMdt.dateOfRequest | date:'dd-MMM-y' }}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3">Date of Meeting:</label>
        <div class="col-md-9">
          <div class="form-control-static">
            <span ng-if="!$ctrl.genericMdt.dateOfMeeting">Not Available</span>
            <ul ng-if="$ctrl.genericMdt.dateOfMeeting">
              <li>{{$ctrl.genericMdt.dateOfMeeting | date:'dd-MMM-y' }}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-12">Link to MDT Web Service Directory:</label>
        <div class="col-md-12">
          <div class="form-control-static">
            <a href="https://www.mdtwebservicedirectory.com?123080s9ijass">https://www.mdtwebservicedirectory.com?123080s9ijass</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <span class="patientSummary-spinner" us-spinner="{radius:20, width:8, length: 16}" spinner-key="mdtDetail-spinner" spinner-start-active="true"></span>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-12">Question For MDT:</label>
        <div class="col-md-12">
          <div class="form-control-static">
            <span ng-if="!$ctrl.genericMdt.question">No Question For MDT</span>
            <ul ng-if="$ctrl.genericMdt.question">
              <li>{{$ctrl.genericMdt.question}}</li>
            </ul>
          </div>
        </div>
      </div>


      <div class="form-group">
        <label class="control-label col-md-12">Meeting Discussion:</label>
        <div class="col-md-12">
          <div class="form-control-static">
            <span ng-if="!$ctrl.genericMdt.notes.length">No Meeting Discussion</span>
            <ul ng-if="$ctrl.genericMdt.notes">
              <li>{{$ctrl.genericMdt.notes}}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3">Source:</label>
        <div class="col-md-9">
          <div class="form-control-static">{{ $ctrl.genericMdt.source }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-group text-right" ng-if="$ctrl.currentUser.permissions.indexOf('WRITE') !== -1">
  <button class="btn btn-info" ng-click="$ctrl.edit();"><i class="fa fa-pencil"></i> Edit</button>
</div>
