#---------------------------------
# Directories
#---------------------------------
**/node_modules/
**/bower_components/
src/old
tmp/
dist/
tests/
coverage
.nyc_output/
src/app/pulsetileui/pages/_plugins_/Bronze-Plugins
src/app/pulsetileui/pages/_plugins_/Silver-Plugins


#---------------------------------
# Extensions
#---------------------------------
*.gz
*.log
*.log*
*.rar
*.tar


#---------------------------------
# IDE generated
#---------------------------------
.idea/
.project
*.iml


#---------------------------------
# OS generated
#---------------------------------
__MACOSX/
.DS_Store
Thumbs.db
