.dropdown-user {
  .user-profile-image {
    background-color: #eef8e7;
    color: $auxiliary-color;
  }
  .user-profile-info {
    color: $text-color;
  }
  .specification {
    border-bottom-color: #d7d7d7;
  }
  .user-profile-info__item.birthday { color: lighten($text-color, 40%); }
}
