.btn {
  height: 34px;
  min-width: 34px;
  font-size: 16px;
  line-height: 22px;
  border-radius: 0;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: top;
  background: #dddddd;
  .btn-icon { font-weight: 700; }
}
.btn-icon-normal .btn-icon { font-weight: 400; }
.btn-bold { font-weight: 700; }
.btn-rounded { border-radius: 2px; }
.btn-sm {
  height: 30px;
  line-height: 18px;
  .btn-icon { font-weight: 400; }
}
.btn-smaller {
  font-size: 14px;
  height: 26px;
  line-height: 16px;
  margin: 2px 0;
  padding-bottom: 4px;
  padding-top: 4px;
  .btn-icon { font-weight: 400; }
}

@each $button, $color in $colored-buttons {
  .btn-#{$button},
  .btn-#{$button}:hover,
  .btn-#{$button}:focus,
  .btn-#{$button}:active {
    color: #ffffff !important;
    background-color: $color !important;
    border-color: $color !important;
    &.active {
      background-color: $color !important;
      border-color: $color !important;
    }
  }
  .btn-default,
  .btn-default:hover,
  .btn-default:focus,
  .btn-default:active { color: $text-color !important; }
  
  .is-not-touch-device {
   .btn-#{$button}:hover {
      background-color: darken($color, 10%) !important;
      border-color: darken($color, 10%) !important;
    }
  }
}

.btn.disabled,
.btn[disabled],
.is-not-touch-device .btn.disabled:hover,
.is-not-touch-device .btn[disabled]:hover {
  background-color: #c3c3c3 !important;
  border-color: #c3c3c3 !important;
  color: #ffffff !important;
  opacity: 1;
}

.btn-dropdown-toggle {
  position: relative;
  padding-right: 32px;
  &:after {
    color: inherit;
    content: '\f0d7';
    font-family: 'FontAwesome';
    font-size: inherit;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.open, .show {
  & > .btn-dropdown-toggle:after {
    transform: translateY(-50%) rotate(180deg);
  }
}

.btn-inverse {
  background: transparent !important;
  border: 1px solid #ccc !important;
  @each $button, $color in $colored-buttons {
    &.btn-#{$button},
    &.btn-#{$button}:hover,
    &.btn-#{$button}:focus,
    &.btn-#{$button}:active {
      color: $color !important;
      border-color: $color !important;
      background: transparent !important;
      &.active {
        color: darken($color, 10%) !important;
        border-color: darken($color, 10%) !important;
        background: transparent !important;
      }
    }
  }
  &.btn-none-border {
    border-color: transparent !important;
    &:hover,
    &:focus,
    &:active {
      border-color: transparent !important;
      box-shadow: 0 0 0 rgb(0, 0, 0) !important;
    }
  }
}
.is-not-touch-device .btn-inverse {
  @each $button, $color in $colored-buttons {
    &.btn-#{$button}:hover {
      color: darken($color, 10%) !important;
      border-color: darken($color, 10%) !important;
    }
  }
}

.btn-inverse.btn.disabled,
.btn-inverse.btn[disabled],
.is-not-touch-device .btn-inverse.btn.disabled:hover,
.is-not-touch-device .btn-inverse.btn[disabled]:hover { 
  background-color: transparent !important;
  border-color: #c3c3c3 !important;
  color: #c3c3c3 !important;
}

.btn.btn-inverse,
.btn.btn-inverse.disabled,
.btn.btn-inverse[disabled] {
  &.btn-none-border {
    border-color: transparent !important;
  }
}

.is-not-touch-device .btn.btn-inverse,
.is-not-touch-device .btn.btn-inverse.disabled,
.is-not-touch-device .btn.btn-inverse[disabled] {
  &.btn-none-border {
    &:hover,
    &:focus,
    &:active {
      border-color: transparent !important;
      box-shadow: 0 0 0 rgb(0, 0, 0) !important;
    }
  }
}

.has-success .input-group .input-group-btn .btn {
  border-color: map-get($colored-buttons, 'success') !important;
}
.has-error .input-group .input-group-btn .btn {
  border-color: map-get($colored-buttons, 'danger') !important;
}
.btn-toggle-rotate .btn-icon {
  transform: rotate(0) translateY(-1px);
}
.panel.open .btn-toggle-rotate .btn-icon {
  transform: rotate(180deg) translateY(-2px);
}
.btn-table .btn-icon {
  font-size: 20px;
  font-weight: 400;
}
.btn-filter {
  width: 42px;
  &.btn-dropdown-toggle { width: auto; }
  .btn-icon {
    font-size: 19px;
    font-weight: 400;
  }
}
.btn-board-more { width: 43px; }
.btn-pause .btn-icon {
  font-size: 15px;
  font-weight: 400;
}

.btn-edit {
  font-weight: 600;
  .btn-icon {
    font-size: 17px;
    font-weight: 400;
    margin-right: 3px;
  }
}
.btn-success.btn-create,
.btn-success.btn-create:focus,
.btn-success.btn-create:active {
  background: #ffffff !important;
  font-weight: 600;
  &:hover,
  &.active { background: #ffffff !important; }
  .btn-icon {
    font-size: 17px;
    font-weight: 400;
    margin-right: 3px;
  }
} 
.btn-square {
  padding: 0;
  width: 34px;
  &.btn-sm { width: 30px; min-width: 30px; }
  &.btn-smaller { width: 26px; min-width: 26px; }
}

.btn-expand-panel {
  .fa.fa-expand { display: inline-block; }
  .fa.fa-compress { display: none; }
}
.full-panel .btn-expand-panel {
  .fa.fa-expand { display: none; }
  .fa.fa-compress { display: inline-block; }
}
.full-panel .btn-toggle-rotate { display: none; }

.btn-back-doc .btn-text { margin-left: 4px; }