.wrap-control-group {
  @include clearfix;
  &.hide-indent-bottom { margin-bottom: -5px; }
}
.control-group {
  margin-right: -5px;
  & > * { margin-right: 5px; }
  &.right {
    float: right;
    margin-left: 5px;
  }
  &.left {
    float: left;
    margin-left: -5px;
    margin-right: 5px;
    & > * {
      margin-left: 5px;
      margin-right: 0;
    }
  }
  &.left,
  &.right {
    & > * { float: left; }
  }
  &.center {
    font-size: 0;
    text-align: center;
    & > * { display: inline-block; }
  }
  &.with-indent > * { margin-bottom: 5px; }
  &.without-side-indent {
    margin-left: 0;
    margin-right: 0;
    & > * {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .control-separate {
    background: #ccc;
    display: inline-block;
    height: 34px;
    vertical-align: top;
    width: 1px;
    &.control-separate-sm { height: 30px; }
    &.control-separate-smaller { 
      height: 26px; 
      margin-top: 2px;
    }
  }
}