.uib-datepicker-popup.dropdown-menu {
  width: 320px;
  table {
    width: 100%;
    button {
      padding: 0;
      &.active {
        border-color: #0d672f !important;
        background: #0d672f !important;
        color: #fff !important;
        span {
          color: #fff;
        }
      }
      &.btn-info {color: #fff !important;}
      .text-info {color: #0d672f;}
    }
  }
}

@media (max-width: map-get($breakpoints, 'sm') - 1) {
  .uib-datepicker-popup.dropdown-menu {
    padding: 5px 0;
    width: 250px;
    table button {
      font-size: 14px;
      height: 26px;
      line-height: 26px;
    }
  }
}