.dndPlaceholder td span {
  display: block;
  min-height: 30px;
}
.dnd-handle-wrapper {
  padding-left: 30px !important;
  position: relative;
}
.dnd-handle {
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 25px;
  color: #bcbcc5;
  cursor: move;
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}