.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  &.dm-right {
    left: auto;
    right: 0;
  }
}
.dropdown.open .btn-inverse {
  &,
  &:focus,
  &:active {
    background: #fff !important;
    &:hover,
    &.active {
      background: #fff !important;
    }
  }
}


.dm-panel {
  padding: 20px 14px 14px;
  border-right: 4px;
  box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.2);
  .heading {
    margin-bottom: 8px;
    padding-bottom: 5px;
    font-size: 12px;
    line-height: 16px;
    color: #a3a3a3;
    text-transform: uppercase;
    border-bottom: 1px solid #d7d7d7;
  }
}
.dm-summery {
  width: 300px;
  padding: 15px 10px 19px 20px;
  @include respond-to(xs) {
    width: 400px;
  }
  @include respond-to(sm) {
    width: 470px;
  }
}
.dm-tables {
  width: 215px;
}
.dm-wrap-list {
  margin-bottom: -12px;
}
.dm-list {
  margin: 0 -14px;
  margin-bottom: 12px;
  .dm-item {
    padding: 0 14px;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    &:hover,
    &.active {
      background: #f3f3f3;
    }
    span, i {
      line-height: 28px;
      display: inline-block;
      vertical-align: middle;
    }
    span {
      font-size: 14px;
      color: #3c3c3c;
    }
    i {
      width: 20px;
      margin-right: 12px;
      font-size: 16px;
      color: #0d672f;
    }
  }
}
