fieldset {
  //position: relative;
  //padding: 54px 10px 10px 10px;
  //border: 1px solid #ddd;
}

legend {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  //background-color: #eee;
  //padding: 4px 10px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  border-bottom: 1px solid #ddd;
}