.form-group-wrapper {
  margin-bottom: -12px;
}
.form-group {
  margin: 0 0 12px;
  padding: 0;
}

label.control-label {
  display: block;
  min-height: 18px;
  margin-bottom: 2px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  color: #949494;
}
.col-inline-label,
.required-label {
  padding: 7px 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #a9a9a9;
}
.required-label { color: #a32d44; }

.form-control {
  height: 30px;
  padding-top: 4px;
  padding-bottom: 4px;
  line-height: 20px;
  border-color: #c3c3c3;
  border-radius: 2px;
  box-shadow: none !important;
}
.form-control.not-bordered {
  border: 0;
}

.form-control.readonly,
.form-control[readonly] {
  opacity: 1;
  background-color: #ffffff !important;
}
.form-control-static  {
  min-height: 18px;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  em {
    color: #959595;
  }
  a {
    color: #000000;
    // font-weight: 600;
    text-decoration: underline;
    &:hover {text-decoration: none;}
  }
}
.next-separate {
  display: inline-block;
  color: #9393a0;
  padding: 0 7px;
}
select.input-sm {line-height: 20px;}


.non-edit-value {
  min-height: 30px;
  line-height: 30px;
  .btn + span {margin-left: 5px;}
}
.input-group {
  width: 100%;
}
.input-group .input-group-btn .btn {
  border-right-width: 0;
}

.input-holder {
  position: relative;
}
textarea.textarea-big,
select.textarea-big,
.textarea-big {
  height: 101px;
  overflow-y: auto;
}

.uib-daypicker:focus {outline: none !important;}


@include respond-from(xs) {
  .form-group-wrapper {
    margin-bottom: -17px;
  }
  .form-group {
    margin: 0 0 17px;
  }
  label.control-label {
    margin-bottom: 5px;
    font-size: 13px;
  }
  .form-control-static  {
    font-size: 14px;
  }
}

.inner-addon {
  position: relative;
  .addon {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    pointer-events: none;
  }
  &.addon-left {
    .addon {
      left: 0;
    }
    input {
      padding-left: 30px;
    }
  }
  &.addon-rigth {
    .addon {
      left: auto;
      right: 0;
    }
    input {
      padding-right: 30px;
    }
  }
}

.input-sm {
  font-size: 14px;
}

// Custom Inputs radio, checkbox
  .wrap-fcustominps-inline {
    overflow: hidden;
    .wrap-fcustominp {
      float: left;
      margin-right: 20px;
      & + .wrap-fcustominp {margin-top: 0;}
    }
  }
  .wrap-fcustominp {
    padding: 5px 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    & + .wrap-fcustominp {margin-top: 5px;}
    .fcustominp-state {
      margin: 0 -2px;
      padding: 0 2px;
      display: flex;
      align-items: center;
      width: 100%;
      &.disabled {
        background: #f3f3f3;
        opacity: 0.6;
        .fcustominp label,
        .fcustominp-label { cursor: default; }
      }
    }
    .fcustominp-label {
      float: left;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: #000000;
      cursor: pointer;
      margin: 0 0 0 5px;
    }
  }
  .fcustominp {
    float: left;
    overflow: hidden;
    width: 18px; height: 16px;
    padding: 0 1px;
    flex: 0 0 18px;
    input {display: none;}
    label {
      position: relative;
      display: block;
      width: 100%; height: 100%;
      margin: 0;
      border-radius: 3px;
      border: 1px solid #C9C9C9;
      background: #ffffff;
      cursor: pointer;
      transform: translateZ(0);
    }
    input[type=checkbox]:checked + label:after {
      content: '';
      display: block;
      position: absolute;
      top: 1px; left: 4px;
      /*Make it a small rectangle so the border will create an L-shape*/
      width: 6px;
      height: 10px;
      /*Add a white border on the bottom and left, creating that 'L' */
      border: solid #222222;
      border-width: 0 2px 2px 0;
      /*Rotate the L 45 degrees to turn it into a checkmark*/
      transform: rotate(45deg);
    }

    input[type=radio] + label {
      width: 14px; height: 14px;
      margin-top: 1px;
      border-radius: 50%;
    }
    input[type=radio]:checked + label {
      border-color: #389dff;
      background: #389dff;
    }
    input[type=radio]:checked + label:after {
      content: '';
      position: absolute;
      top: 4px; left: 4px;
      width: 4px; height: 4px;
      background: #ffffff;
      border-radius: 50%;
      z-index: 1;
    }
  }
//Custom Inputs

.uib-datepicker-popup.dropdown-menu {
  padding: 10px 0;
}
.input-container {
  padding: 0;
  font-size: 0;
  position: relative;
}
.form-contenteditable {
  -webkit-appearance: none;
}
.input-contenteditable {
  display: inline-block;
  padding: 0 10px;
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  vertical-align: top;
  outline: none;
  min-width: 5px;
  width: 100%;
}
.input-container .input-tag:first-child {
  margin-left: 10px;
}
.input-tag {
  float: left;
  background-color: $base-color;
  border-radius: 2px;
  color: $text-on-base-color;
  font-size: 16px;
  font-weight: 400;
  height: 26px;
  left: 0;
  line-height: 26px;
  margin-right: 5px;
  padding: 0 25px 0 8px;
  position: relative;
  top: 1px;
  i {
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    margin-top: -1px;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.contenteditable-resize {
  resize: vertical;
}