.form-group-wrapper {
  margin-bottom: -12px;
}
.form-group {
  margin: 0 0 12px;
  padding: 0;
}

label.control-label {
  display: block;
  min-height: 18px;
  margin-bottom: 2px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  color: #949494;
}
.col-inline-label,
.required-label {
  padding: 7px 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #a9a9a9;
}
.required-label { color: #a32d44; }

.form-control {
  height: 30px;
  border-color: #c3c3c3;
  border-radius: 2px;
  box-shadow: 0 0 0 #fff !important;
}
.form-control-static  {
  min-height: 18px;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  em {
    color: #959595;
  }
  a {
    color: #000000;
    font-weight: 600;
    text-decoration: underline;
    &:hover {text-decoration: none;}
  }
}
.next-separate {
  display: inline-block;
  color: #9393a0;
  padding: 0 7px;
}


.non-edit-value {
  min-height: 30px;
  line-height: 30px;
}
.input-group {
  width: 100%;
}
.input-group .input-group-btn .btn {
  border-right-width: 0;
}

.input-holder {
  position: relative;
}
textarea.textarea-big {
  height: 101px;
}

.uib-daypicker:focus {outline: none !important;}


@include respond-to(xs) {
  .form-group-wrapper {
    margin-bottom: -17px;
  }
  .form-group {
    margin: 0 0 17px;
  }
  label.control-label {
    margin-bottom: 5px;
    font-size: 13px;
  }
  .form-control-static  {
    font-size: 14px;
  }
}

.inner-addon {
  position: relative;
  .addon {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    pointer-events: none;
  }
  &.addon-left {
    .addon {
      left: 0;
    }
    input {
      padding-left: 30px;
    }
  }
  &.addon-rigth {
    .addon {
      left: auto;
      right: 0;
    }
    input {
      padding-right: 30px;
    }
  }
}

// Custom Inputs radio, checkbox
  .wrap-fcustominp {
    padding: 5px 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    & + .wrap-fcustominp {margin-top: 5px;}
    .fcustominp-label {
      float: left;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: #000000;
      cursor: pointer;
      margin: 0 0 0 5px;
    }
  }
  .fcustominp {
    float: left;
    overflow: hidden;
    width: 18px; height: 16px;
    padding: 0 1px;
    flex: 0 0 18px;
    input {display: none;}
    label {
      position: relative;
      display: block;
      width: 100%; height: 100%;
      border-radius: 3px;
      border: 1px solid #C9C9C9;
      background: #ffffff;
      cursor: pointer;
      transform: translateZ(0);
    }
    input[type=checkbox]:checked + label:after {
      content: '';
      display: block;
      position: absolute;
      top: 1px; left: 4px;
      /*Make it a small rectangle so the border will create an L-shape*/
      width: 6px;
      height: 10px;
      /*Add a white border on the bottom and left, creating that 'L' */
      border: solid #222222;
      border-width: 0 2px 2px 0;
      /*Rotate the L 45 degrees to turn it into a checkmark*/
      transform: rotate(45deg);
    }

    input[type=radio] + label {
      border-radius: 50%;
    }
    input[type=radio]:checked + label:before,
    input[type=radio]:checked + label:after {
      content: '';
      position: absolute;
      
      background: #222222;
      border-radius: 50%;
    }
    input[type=radio]:checked + label:before {
      top: 4px; left: 4px;
      width: 14px; height: 14px;
      background: #fff;
      z-index: 1;
    }
    input[type=radio]:checked + label:after {
      top: 5px; left: 5px;
      width: 12px; height: 12px;
      background: #222222;
      z-index: 1;
    }
  }
//Custom Inputs

.uib-datepicker-popup.dropdown-menu {
  padding: 10px 0;
}