.form-group-wrapper { margin-bottom: -12px; }
.form-group {
  margin: 0 0 12px;
  padding: 0;
}

label.control-label {
  color: #949494;
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 2px;
  min-height: 18px;
}
.col-inline-label,
.required-label {
  color: #a9a9a9;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  padding: 7px 0;
}
.required-label { color: #a32d44; }

.form-control {
  border-color: #c3c3c3;
  border-radius: 2px;
  box-shadow: none !important;
  height: 30px;
  line-height: 20px;
  padding-bottom: 4px;
  padding-top: 4px;
}
.form-control.not-bordered {
  border: 0;
}

.form-control.readonly,
.form-control[readonly] {
  background-color: #ffffff !important;
  opacity: 1;
}
.form-control-static  {
  color: #000000;
  font-size: 12px;
  line-height: 18px;
  min-height: 18px;
  padding: 0;
  em { color: #959595; }
  a {
    color: #000000;
    text-decoration: underline;
    &:hover { text-decoration: none; }
  }
}
.next-separate {
  color: #9393a0;
  display: inline-block;
  padding: 0 7px;
}
select.input-sm { line-height: 20px; }

.non-edit-value {
  line-height: 30px;
  min-height: 30px;
  .btn + span { margin-left: 5px; }
}
.input-group { width: 100%; }
.input-group .input-group-btn .btn { border-right-width: 0; }

.input-holder { position: relative; }
textarea.textarea-big,
select.textarea-big,
.textarea-big {
  height: 101px;
  overflow-y: auto;
}

.uib-daypicker:focus { outline: none !important; }


@include respond-from(xs) {
  .form-group-wrapper { margin-bottom: -17px; }
  .form-group { margin: 0 0 17px; }
  label.control-label {
    font-size: 13px;
    margin-bottom: 5px;
  }
  .form-control-static  { font-size: 14px; }
}

.inner-addon {
  position: relative;
  .addon {
    height: 30px;
    left: 0;
    line-height: 30px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 0;
    width: 30px;
  }
  &.addon-left {
    .addon { left: 0; }
    input { padding-left: 30px; }
  }
  &.addon-rigth {
    .addon {
      left: auto;
      right: 0;
    }
    input { padding-right: 30px; }
  }
}
.input-sm { font-size: 14px; }
