.fc-event .fc-bg { opacity: 0; }
.fc th {
  line-height: 21px;
  padding: 3px 2px;
}
.fc-day-header { background: #c5e29f; }

.fc-widget-content tr { background: #ffffff; }
.fc-widget-content tr:nth-child(4n-1),
.fc-widget-content tr:nth-child(4n) { background: #f3f3f3; }
.fc-ltr .fc-time-grid .fc-event-container { margin: 0 -1px 0 1px; }
.fc-content-skeleton + hr { display: none !important; }

.fc-view-container {
  margin: 0 -1px;
  margin-bottom: 29px;
}
.fc-toolbar.fc-header-toolbar {
  margin: 0;
  padding: 7px 15px;
}
.fc-toolbar.fc-header-toolbar {
   h2 {
    color: $text-color;
    font-size: 14px;
    line-height: 20px;
    padding: 7px 0;
    text-align: center;
    margin: 0;
  }
  button {
    background: #ffffff;
    border-radius: 0;
    border: 1px solid #0d672f;
    box-shadow: 0 0 0 rgb(0, 0, 0) !important;
    color: #0d672f;
    height: 34px;
    min-width: 30px;
    padding: 0 5px;
    &.fc-state-active {
      background: #0d672f;
      color: #ffffff;
    }
  }
  .fc-center { vertical-align: top; }
}
.is-not-touch-device .fc-toolbar.fc-header-toolbar button:hover {
  background: #0d672f;
  color: #ffffff;
}

.fc-timeslot {
  color: #959595;
  font-size: 13px;
  padding: 9px 15px 0;
}

.fc-unthemed td.fc-today { background: #ffffff; }