$highlighterColor: (
  default: #ccc,
  warning: #FFBF00,
  danger: #FF2626
);

.highlighter {
  position: relative;
  &:after {
    direction: inherit;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: map-get($highlighterColor, 'default');
  }
}
.highlighter-warning {
  @extend .highlighter;
  &:after {
    background-color: map-get($highlighterColor, 'warning');
  }
}
.highlighter-danger {
  @extend .highlighter;
  &:after {
    background-color: map-get($highlighterColor, 'danger');
  }
}