.openModal {
  display: block;
}
.closeModal {
  display: none;
}
.modal-open .footer{
  z-index: 0;
}
/* Confirmation Modal */

.modal-header {
  margin: -1px;
  margin-bottom: 0;
  padding: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding-bottom: 0;
  border-bottom: 0;
  background-color: $base-color;
}

.modal-title {
  padding: 0px 10px 10px;
  font-weight: bold;
  color: $text-on-base-color;
  background-color: $base-color;
}

.modal-footer {
  padding-top: 0;
  border-top: 0;
}

.modal-backdrop {
  background-color: #000;
}

.modal-content {
  border: 1px solid #d7d7d7;
  border-radius: 6px;
}

.modal-body {
  padding: 12px 17px 17px;
  background-color: #ffffff;
}