.openModal {
  display: block;
}
.closeModal {
  display: none;
}
.modal-open .footer{
  z-index: 0;
}

/* Confirmation Modal */
.modal-header {
  margin: -1px;
  margin-bottom: 0;
  padding: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 0;
  background-color: $base-color;
  color: $text-on-base-color;
}
.modal-title {
  background-color: $base-color;
  color: $text-on-base-color;
  font-weight: bold;
  padding: 0px 10px 10px;
  margin: 0;
} 
.modal-footer {
  border-top: 0;
  padding-top: 0;
}
.modal-backdrop { background-color: #000; }
.modal-content {
  background: transparent;
  border-radius: 0;
  border: 0;
}
.modal-content-inner {
  border-radius: 6px 6px 0 0;
  border: 1px solid #d7d7d7;
}
.modal-body {
  background-color: #ffffff;
  padding: 12px 17px 17px;
}
.modal-content .panel.panel-secondary { background: #E8E8E8; }