.pagination-block {
  margin: 0;
  border: 0;
  li {
    float: left;
    position: relative;
    margin-right: -1px;
    z-index: 1;
    &.active  { z-index: 2; }
    a {
      display: block;
      min-width: 28px;
      height: 34px;
      padding: 4px;
      font-size: 12px;
      line-height: 24px;
      color: #313131;
      text-align: center;
      text-decoration: none;
      border: 1px solid #ddd;
      background: #fff;
      border-radius: 0 !important;
    }
    &.arrow a {
      font-size: 24px;
      line-height: 20px;
    }
    &.active a {
      color: #fff;
      border-color: $secondary-color;
      background-color: $secondary-color;
      text-decoration: none;
    }
    &.disabled a {
      color: #313131;
      text-decoration: none;
      background-color: #F4F3F3;
      border-color: #ddd;
      cursor: not-allowed;
    }
  }
  // li.increment {
  //   a {
  //     background-color: #0e672f;
  //     color: #fff;
  //     &:hover {
  //       background-color: #128642;
  //       color: #fff;
  //     }
  //   }
  //   &.disabled a {
  //     background-color: #9a9a9a;
  //     color: #fff;
  //   }
  //   &.previous a {margin-right: 10px;}
  //   &.next a { margin-left: 10px;}
  // }
}
@include respond-to(xs) {
  .pagination-block {
    li {
      &:not(.disabled):hover { z-index: 2; }
      & a:hover,
      &.active a:hover {
        color: #fff;
        border-color: $secondary-color;
        background-color: $secondary-color;
        text-decoration: none;
      }
      &.disabled a:hover {
        color: #313131;
        text-decoration: none;
        background-color: #F4F3F3;
        border-color: #ddd;
        cursor: not-allowed;
      }
    }
  }
}
