.pagination-short {
  .pagination-item {
    display: none;
    &.short-show {
      display: block;
    }
  }
}
.pagination-block {
  border: 0;
  margin: 0;
  @include list-reset;
  padding-right: 1px;
}
.pagination-item {
  float: left;
  margin-right: -1px;
  position: relative;
  z-index: 1;
  &.active  { z-index: 2; }
  .pagination-link, 
  .pagination-link:focus {
    background: #fff;
    border-radius: 0 !important;
    border: 1px solid #ddd;
    color: $text-color;
    display: block;
    font-size: 12px;
    height: 34px;
    line-height: 24px;
    min-width: 28px;
    padding: 4px;
    text-align: center;
    text-decoration: none;
  }
  &.arrow .pagination-link {
    font-size: 24px;
    line-height: 20px;
  }
  &.active .pagination-link {
    background-color: $base-color;
    border-color: $base-color;
    color: $text-on-base-color;
    text-decoration: none;
  }
  &.disabled .pagination-link {
    background-color: #F4F3F3;
    border-color: #ddd;
    color: $text-color;
    cursor: not-allowed;
    text-decoration: none;
  }
}
.is-not-touch-device .pagination-item {
  &:not(.disabled):hover { z-index: 2; }
  & .pagination-link:hover,
  &.active .pagination-link:hover {
    background-color: $base-color;
    border-color: $base-color;
    color: $text-on-base-color;
    text-decoration: none;
  }
  &.disabled .pagination-link:hover {
    background-color: #F4F3F3;
    border-color: #ddd;
    color: $text-color;
    cursor: not-allowed;
    text-decoration: none;
  }
}
.pagination-heading {
  height: 34px;
  line-height: 34px;
  @include text-truncate;
}
