.wrap-rzslider {
  border: 1px solid #d8d8d8;
  border-bottom: 0;
  padding: 0 8px 0 13px;
}
.wrap-rzslider-search {
  border-bottom: 0;
  padding: 0 8px 0 13px;
}

.mc-rz-slider.rzslider {
  height: 7px;
  margin: 52px 0 41px;
  width: 100%;
  .rz-bar {
    background: #f3f3f3;
    border-radius: 2px;
    cursor: pointer;
    height: 7px;
  }
  .rz-selection { background: $base-color; }
  .rz-pointer {
    background-color: $base-color;
    border-radius: 2px;
    height: 12px;
    outline: none !important;
    top: -3px;
    width: 12px;
    &:focus { background: $auxiliary-color; }
  }
  .rz-tick-value {
    color: $text-color;
    top: -22px;
  }
  .rz-pointer:after { display: none; }
  .rz-bubble { bottom: 14px; }
  .rz-limit {
    color: $text-color;
    font-size: 14px;
  }
  .rz-bubble:not(.rz-limit) {
    background: #ffffff;
    border-radius: 4px;
    border: 1px solid #c3c3c3;
    bottom: 22px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 12px;
    line-height: 16px;
    padding: 3px 8px;
  }
  .rz-bubble:not(.rz-limit):before,
  .rz-bubble:not(.rz-limit):after {
    border-color: transparent;
    border-style: solid;
    border-width: 6px 4px 0;
    content: '';
    left: 50%;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
  }
  .rz-bubble:not(.rz-limit):before {
    border-top-color: #ffffff; 
    margin-top: -1px;
    z-index: 2; 
  }
  .rz-bubble:not(.rz-limit):after  {
    border-top-color: #c3c3c3; 
    z-index: 1; 
  }
  .rz-tick {
    background: $base-color;
    border-radius: 0;
    height: 12px;
    margin-left: 4px;
    top: 0px;
    width: 1px;
    .rz-tick-legend { 
      max-width: initial;
      white-space: nowrap; 
    }
    &:first-child .rz-tick-legend { display: none; transform: translate(0, 0); }
    &:last-child  .rz-tick-legend { display: none; transform: translate(-100%, 0); }
  }
  .rz-tick.rz-selected { background: $base-color; }
}
