.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 30px;
  margin: 0;
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e8e8e8;
    border: 1px solid #c3c3c3;
    transition: .4s;
    &.round {
      border-radius: 30px;
      &:before {
        border-radius: 50%;
      }
    }
    &:before {
      position: absolute;
      content: "";
      height: 23px;
      width: 23px;
      left: 3px;
      bottom: 3px;
      background-color: white;
      transition: .4s;
    }
  }
  input {display:none;}
  input:checked + .slider {
    background-color: #0D672F;
    border-color: #0D672F;
    &:before {
      transform: translateX(25px);
    }
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #0D672F;
  }
}