/**
  * BASE COLORS
  */

/**
  * COLORS for use across the site
  */
  $base-color: map-get($base-color-palette, 'base');
  $auxiliary-color: map-get($base-color-palette, 'auxiliary');
  
  $text-color: map-get($base-color-palette, 'text');
  $text-on-base-color: map-get($base-color-palette, 'text-on-base');

  $colored-buttons: map-get($base-color-palette, 'buttons');

  $colored-table: map-get($base-color-palette, 'table');
