html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: $font-family-main;
  min-width: $min-width; 
}


*,
*:before,
*:after { box-sizing: border-box; }

img {
  display: block;
  height: auto;
  max-width: 100%;
}
textarea { resize: vertical; }

a,
a:hover,
a:focus {
  color: $text-color;
  cursor: pointer;
  text-decoration: none;
}

.is-not-touch-device a:hover,
.is-not-touch-device a:focus, {
  color: $auxiliary-color;
  text-decoration: none;
}

.list-reset { @include list-reset; }

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline:0px !important;
  -webkit-appearance:none;
}

.wrap-overflow { overflow: hidden; }

.without-shadow { box-shadow: none !important; }

.wrap-icon {
  font-size: 0;
  i, span {
    display: inline-block;
    vertical-align: middle;
  }
  i { margin-right: 3px; }
}

.clearfix {
  @include clearfix;
}

.text-truncate {
  @include text-truncate;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.main {
  position: relative;
  z-index: 1;
}
.sidebar + .main { overflow: hidden; }

#page-wrapper {
  min-height: 0;
  padding: 0;
}

.page-wrapper {
  background-color: transparent;
  padding: 10px 0;
  @include respond-from(xs) {
    padding: $indent-wrapper-big;
  }
}