  html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: $font-family-main;
  min-width: $min-width; 
}


*,
*:before,
*:after { box-sizing: border-box; }

img {
  display: block;
  height: auto;
  max-width: 100%;
}
textarea { resize: vertical; }

a,
a:hover,
a:focus {
  color: $text-color;
  cursor: pointer;
  text-decoration: none;
}

.is-not-touch-device a:hover,
.is-not-touch-device a:focus, {
  color: $auxiliary-color;
  text-decoration: none;
}

.list-reset { @include list-reset; }

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline:0px !important;
}

.wrap-overflow { overflow: hidden; }

.without-shadow { box-shadow: none !important; }

.wrap-icon {
  font-size: 0;
  i, span {
    display: inline-block;
    vertical-align: middle;
  }
  i { margin-right: 3px; }
}

.clearfix {
  @include clearfix;
}

.text-truncate {
  @include text-truncate;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.main {
  position: relative;
  z-index: 1;
  margin-left: 0;
}
@include respond-from(sm) {
  .showSidebar .sidebar + .main {
    margin-left: 185px;
  }
}

#page-wrapper {
  min-height: 0;
  padding: 0;
}

.page-wrapper {
  background-color: transparent;
  padding: 10px 0;
  @include respond-from(xs) {
    padding: $indent-wrapper-big;
  }
}

body {
  .footer, .wrapper {
    transition: opacity 1s ease, visibility 1s ease;
    opacity: 1;
    visibility: visible;
  }
  .main-spinner { 
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease, background 1s ease,;
  }
  &.loading {
    .footer, .wrapper {
      opacity: 0;
      visibility: hidden;
    }
    .main-spinner {
      display: block;
      position: fixed;
      top: 0; bottom: 0;
      left: 0; right: 0;
      z-index: 9999;
      background: #fff;
      opacity: 1;
      visibility: visible;
    }
  }
}

.sk-cube-grid {
  height: 60px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
}

.sk-cube-grid .sk-cube {
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  background-color: #e8e8e8;
  float: left;
  height: 33%;
  width: 33%;
}
.sk-cube-grid .sk-cube1 { animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 { animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 { animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 { animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 { animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 { animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 { animation-delay: 0s; }
.sk-cube-grid .sk-cube8 { animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 { animation-delay: 0.2s; }

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
            transform: scale3D(1, 1, 1);
  } 35% {
            transform: scale3D(0, 0, 1);
  } 
}