@import 'abstracts/variables';
@import 'abstracts/colors';
@import 'abstracts/settings';
@import 'abstracts/mixins';

$ui-color: #f26604;

.ui-wrapper {
  min-height: 100%;
  min-width: 320px;
  overflow: hidden;
  padding: 30px 0;
  position: relative;
}
.ui-header {
  background-color: #ffffff;
  border-bottom: 1px solid #e1e1e1;
  color: #555555;
  left: 0;
  min-width: 320px;
  padding: 0 15px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 16;
}

.ui-header-inner {
  height: 44px;
  padding: 0 40px;
  position: relative;
  @include respond-from(xs) {
    padding: 0 100px;
  }
}
.ui-logo {
  left: 0;
  position: absolute;
  top: 10px;
  .img {
    max-height: 22px;
    width: auto; 
  }
}
.ui-header-title {
  font-size: 22px;
  height: 100%;
  line-height: 46px;
  text-align: center;
}

.ui-btn-toggle-sidebar {
  background: transparent;
  border: 1px solid $ui-color;
  color: $ui-color;
  cursor: pointer;
  height: 34px;
  margin: 0;
  outline: none;
  padding: 6px 8px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  .btn-icon,
  .btn-text { line-height: 20px; }
  .btn-icon {
    font-size: 18px;
    margin-right: 0;
  }
  .btn-text {
    display: none;
    font-size: 16px;
  }
}
.ui-showSidebar .ui-btn-toggle-sidebar,
.ui-showSidebar .ui-btn-toggle-sidebar:focus,
.ui-showSidebar .ui-btn-toggle-sidebar:hover {
  background: $ui-color;
  border-color: $ui-color;
  color: #ffffff;
}
@include respond-from(xs) {
  .ui-btn-toggle-sidebar,
  .ui-btn-toggle-sidebar:focus,
  .ui-btn-toggle-sidebar:hover, {
    padding: 6px 14px 6px 11px;
    .btn-icon { margin-right: 9px; }
    .btn-text { display: inline; }
  }
}
@include respond-from(sm) {
  .is-not-touch-device .ui-btn-toggle-sidebar:hover {
    border-color: darken($ui-color, 5%);
    color: darken($ui-color, 5%);
  }
  .is-not-touch-device.ui-showSidebar .ui-btn-toggle-sidebar:hover {
    background: darken($ui-color, 5%);
    border-color: darken($ui-color, 5%);
    color: #fff;
  }
}

.ui-sidebar {
  background: #fcfcfc;
  border-right: 1px solid #e1e1e1;
  bottom: 0;
  left: 0;
  padding: 10px 0 20px;
  position: fixed;
  top: 45px;
  transform: translateX(-100%);
  transition: transform 0.6s;
  width: 220px;
  z-index: 10 ;
}
.ui-sidebar-inner {
  height: 100%;
  overflow-y: auto;
}
.ui-showSidebar .ui-sidebar { transform: translateX(0%); }

.ui-main { 
  position: relative;
  transition: padding 0.6s; 
  z-index: 1;
}

@include respond-from(sm) {
  // .ui-showSidebar .ui-main { padding-left: 235px; }
}

.ui-sidebar-nav {
  @include list-reset;
  color: #555555;
  font-size: 14px;
  font-weight: 700;
}
.ui-sidebar-link,
.is-not-touch-device .ui-sidebar-link:focus {
  color: #555555;
  display: block;
  line-height: 20px;
  padding: 10px;
  position: relative;
  &:before {
    background: $ui-color;
    bottom: 0;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    transition: width 0.3s ease;
    width: 0;
  }
}

.ui-sidebar-link.active,
.is-not-touch-device .ui-sidebar-link:hover {
  color: #555555;
  &:before {
    width: 45%;
  }
}

.ui-sidebar-sub-nav {
  @include list-reset;
  color: #555555;
  font-size: 14px;
  font-weight: 400;
  padding-left: 20px;
}
.ui-sidebar-sub-link,
.is-not-touch-device .ui-sidebar-sub-link:focus {
  color: #555555;
  display: block;
  line-height: 20px;
  padding: 5px 10px;
  position: relative;
  &:before {
    background: $ui-color;
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transition: width 0.3s ease;
    width: 0;
  }
}

.ui-sidebar-sub-link.active,
.is-not-touch-device .ui-sidebar-sub-link:hover {
  color: #555555;
  &:before {
    width: 45%;
  }
}

.ui-content {
  margin: 0 auto;
  max-width: 990px;
  padding: 0px 15px 30px;
}
@include respond-to(xs) {
  .ui-content-backset { margin: 0 -15px; }
}

.ui-section { margin-bottom: 40px; }
.ui-sub-section {  margin-bottom: 25px; }

.ui-main-title {
  border-bottom: 1px solid #D8D8D8;
  font-size: 30px;
  margin: 0 0 20px;
  padding: 60px 0 15px;
  text-align: center;
}

.ui-title,
.ui-sub-title  {
  display: block;
  font-weight: 400;
  margin: 0 0 15px;
}

.ui-title { 
  background: #eeeeee;
  font-size: 24px; 
  padding: 5px 10px;
}

.ui-sub-title { font-size: 18px; }

/*Color Pallete*/
  .ui-color-box {
    border: 1px solid #D8D8D8;
    line-height: 25px;
    margin: 10px;
    overflow: hidden;
    padding: 8px;
    text-align: center;
  }
  .ui-color-box-example {
    border: 1px solid #D8D8D8;
    float: left;
    height: 50px;
    width: 50px;
    @media screen and (max-width: 480px) {
      float: none;
      margin: 0 auto 10px;
    }
  }
  
  @each $name, $color in $colored-buttons {
    .ui-color-#{$name} {
      .ui-color-heading { color: $color; }
      .ui-color-box-example { background: $color;}
      .ui-color-box-hex:after { content: '#{$color}'; }
    }
  }
  .ui-color-default .ui-color-heading { color: #D8D8D8 }

  @each $name, $color in $base-color-palette {
    .ui-color-#{$name} {
      .ui-color-heading { color: $color; }
      .ui-color-box-example { background: $color;}
      .ui-color-box-hex:after { content: '#{$color}'; }
    }
  }
  
  .ui-list-colors { margin: 10px; }

  .ui-list-colors-item { margin-bottom: 5px; }

  .ui-color {
    display: inline-block;
    height: 20px;
    margin-right: 15px;
    vertical-align: middle;
    width: 40px;
  }
  .ui-color-name {
    color: $text-color;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    vertical-align: middle;
  }
/*Color Pallete*/

/*Grid system*/
  .ui-grid-block {
    background: #cccccc;
    border-radius: 4px;
    color: #303030;
    margin-bottom: 10px;
    padding: 10px 5px;
    text-align: center;
    transition: background 0.3s, color 0.3s;
    &:hover {
      background: #303030;
      color: #ffffff;
    }
  }
/*Grid system*/

.ui-spinner-wrap { 
  height: 100px;
  position: relative;
}
.ui-highlighter {
  height: 50px;
  margin-bottom: 5px;
}
.ui-panel-content {
  background: #f0ffff;
  height: 100px;
  padding: 10px;
}

.ui-scrollbar { height: 150px; }
.ui-scrollbar-content {
  background: #f0ffff;
  height: 2000px; 
  padding: 50px 0;
}
.ui-scrollbar-content-start,
.ui-scrollbar-content-end {
  left: 20px;
  line-height: 50px;
  position: absolute;
}
.ui-scrollbar-content-start { top: 0; }
.ui-scrollbar-content-end { bottom: 0; }

.ui-footer .footer { 
  position: static; 
  min-width: initial;
}

.ui-sidebar-content {
  height: 250px;
  overflow: hidden;
  position: relative;
  .sidebar {
    position: absolute;
    top: 0 !important;
  }
}
.ui-main-content {
  background: #f0ffff;
  height: 100px;
  padding: 10px;
}