.panel-body {
  padding: 7px 10px 3px 10px;
  position: relative;
}

.panel-primary .panel-body {
  border-radius: 0;
  padding: 0;
}
.panel-secondary .panel-body {
  background: #fff;
  border-radius: 0;
  padding: 0;
}
.panel-body-inner {
  padding: 14px 10px;
  & + .panel-body-inner {
    border-top: 1px solid #D8D8D8;
  }
  .panel-body-section + .panel-body-section {
    border-top: 1px solid #D8D8D8;
    margin-top: 4px;
    padding-top: 24px;
  }
  .panel-subaccordion {
    margin: 0 -10px;
    .panel-body-inner { padding-left: 25px; }
  }
  .panel-body-inner-table {
    margin: 0 -10px;
  }
}