.panel {
  border-radius: 0;
  &.panel-default {
    border-color: $base-color;
    border-width: 2px;
  }
  &.panel-primary {
    background: transparent;
    border: 0;
    box-shadow: none;
    margin-bottom: 14px;
  }
  &.panel-secondary {
    background: transparent;
    border: 1px solid #D8D8D8;
    box-shadow: none;
    margin-bottom: 14px;
  }
  &.panel-subaccordion {
    background: #ffffff;
    border: 0;
    box-shadow: none;
  }
  &.panel-small {
    background: #ffffff;
    border: 1px solid #D8D8D8;
    box-shadow: none;
    margin-bottom: 0;
  }
  &.without-margin { margin-bottom: 0; }
}
.panel-table .table {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin-bottom: 0;
}

@import 'group';
@import 'heading';
@import 'body';
@import 'control';
@import 'filter';
