.panel-body {
  position: relative;
  padding: 7px 10px 3px 10px;
}

.panel-primary .panel-body {
  padding: 0;
  border-radius: 0;
}
.panel-secondary .panel-body {
  padding: 0;
  border-radius: 0;
  background: #fff;
  .panel-body-inner {
    padding: 11px 10px;
    & + .panel-body-inner {
      border-top: 1px solid #D8D8D8;
    }
  }
}