.panel-default > .panel-heading {
  color: #fff;
  padding: 2px 8px 4px 8px;
  background-color: $panel-background;
  border-radius: 0;
  border-bottom: 0;
}

.panel-title {
  padding: 0 5px;
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
}
.panel-title i.fa-bar-chart {font-size: 20px;}

.panel-primary {
  .panel-heading {
    margin-bottom: 5px;
    padding: 5px;
    color: #303030;
    border: 1px solid #D8D8D8;
    background: #E8E8E8;
    border-radius: 0;
    @include clearfix;
  }
  .panel-title {
    color: #303030;
    @include text-truncate;
  }
}
.panel-secondary {
  .panel-heading {
    padding: 5px;
    color: #303030;
    background: #E8E8E8;
    border-radius: 0;
    @include clearfix;
  }
  .panel-title {
    color: #303030;
    @include text-truncate;
  }
}