.panel {
  border-radius: 0;
  &.panel-default {
    border-color: $panel-background;
    border-width: 2px;
  }
  &.panel-primary {
    margin-bottom: 14px;
    border: 0;
    background: transparent;
    box-shadow: none;
  }
  &.panel-secondary {
    margin-bottom: 14px;
    border: 1px solid #D8D8D8;
    background: transparent;
    box-shadow: none;
  }
  &.panel-small {
    margin-bottom: 0;
    background: #ffffff;
    box-shadow: none;
    border: 1px solid #D8D8D8;
    &.panel-table {
      border-bottom: 0;
    }
  }
}
.panel-table .table {
  margin-bottom: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}

@import 'group';
@import 'heading';
@import 'body';
@import 'control';
@import 'filter';
