.dropdown-menu {
  background-color: #fff;
  border-color: #d7d7d7;
}
.dropdown.open .btn-inverse {
  &,
  &:focus,
  &:active {
    background: #fff !important;
    &:hover,
    &.active {
      background: #fff !important;
    }
  }
}

.dropdown-menu-panel {
  .heading {
    border-bottom-color: #d7d7d7;
    color: #a3a3a3;
  }
}

.dropdown-menu-item {
  &.active { background: #f3f3f3; } 
}
.is-not-touch-device .dropdown-menu-item:hover { background: #f3f3f3; }

.dropdown-menu-item-text {
  color: #3c3c3c;
}
.dropdown-menu-item-icon {
  color: $base-color;
}
