.ui-select-bootstrap {
  & > .ui-select-match {
    & > .btn {
        border-color: #c3c3c3 !important;
        &:hover {
          background: #fff !important;
        }
        &[disabled],
        &[disabled]:hover {
          background: #eee !important;
          color: #555 !important
        }
    }
  }
}
