label.control-label {
  color: #949494;
}
.col-inline-label,
.required-label {
  color: #a9a9a9;
}
.required-label { color: #a32d44; }

.form-control {
  border-color: #c3c3c3;
}

.form-control.readonly,
.form-control[readonly] {
  background-color: #ffffff !important;
}
.form-control-static  {
  color: #000000;
  a {
    color: #000000;
  }
}
.next-separate {
  color: #9393a0;
}