.modal-header {
  background-color: $base-color;
  color: $text-on-base-color;
}
.modal-title {
  background-color: $base-color;
  color: $text-on-base-color;
}
.modal-content-inner {
  border-color: #d7d7d7;
}
.modal-body {
  background-color: #ffffff;
}
.modal-content .panel.panel-secondary { background: #E8E8E8; }