.wrap-logo {
  float: left;
  padding: 6px 9px;
}
// .wrap-logo {
//   float: left;
//   padding: 6px 4px;
// }
.logo {
  font-size: 0;
  line-height: 0;
  .logo-icon {
    display: inline-block;
    width: auto;
    height: 38px;
    margin-right: 10px;
    vertical-align: middle;
    cursor: pointer;
    img {
      height: 100%;
      width: auto;
    }
  }
  .logo-text {
    display: inline-block;
    font-family: 'MyriadPro';
    font-size: 23px;
    color: #0C662D;
    line-height: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: nowrap;
    vertical-align: middle;
    a {
      color: #0C662D;
      &:hover {
        color: #7cbe31;
      }
    }
  }
  .logo-mobile-hidden { display: none; }
}
@include respond-to(xs) {
  .wrap-logo {
    padding-left: 9px;
    padding-right: 9px;
  }
  .logo {
    .logo-mobile-hidden {
      display: inline-block;
    }
  }
}
