.wrap-logo {
  float: left;
  padding: 6px 9px;
  margin: auto;
  margin-left: 0;
}
.logo {
  font-size: 0;
  line-height: 0;
  user-select: none;
  .logo-icon {
    display: inline-block;
    width: auto;
    height: 38px;
    vertical-align: middle;
    cursor: pointer;
    .img {
      display: block;
      height: 38px;
      width: auto;
    }
  }
}

@include respond-from(sm) {
  .wrap-logo {
    order: 2;
    float: none;
    padding-left: 9px;
    padding-right: 9px;
  }
}
