.wrap-header-title { background: map-get($header-toolbar, 'bg'); }
.header-title {
  color: map-get($header-toolbar, 'color');
  font-size: 15px;
  line-height: 22px;
  padding: 15px 0;
  text-align: center;
  @include respond-from(xs) {
    font-size: 18px;
    padding: 10px 0;
  }
}