.wrap-header-toolbar { background: map-get($header-toolbar, 'bg'); }
.header-toolbar {
  color: map-get($header-toolbar, 'color');
  font-size: 15px;
  line-height: 20px;
  min-height: 50px;
  padding: 7px 0 10px;
  position: relative;
  @include respond-from(xs) {
    min-height: 56px;
    padding: 11px 0;
  }
  @include respond-from(sm) {
    padding-left: 109px;
  }
}
