.dropdown-user {
  padding: 10px 12px 9px 11px;
  width: 266px;
  
  .user-profile-image {
    background-color: #eef8e7;
    border-radius: 4px;
    color: $auxiliary-color;
    float: left;
    font-size: 60px;
    line-height: 80px;
    margin: 0 10px 0 0;
    overflow: hidden;
    text-align: center;
    width: 80px;
    .img {
      cursor: pointer;
      height: 0;
      padding-bottom: 100%;
      position: relative;
      & > img {
        height: auto;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
      }
    }
  }
  .user-profile-info {
    color: $text-color;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
  }
  .name {
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 2px;
  }
  .specification {
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 9px;
    padding-bottom: 4px;
    .item {
      line-height: 20px;
      margin-bottom: 2px;
    }
    .gray { color: lighten($text-color, 40%); }
  }
  .btn-signout i {
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
  }
}