/**
  * FOOTER
  */
.wrapper {padding-bottom: 56px;}
.footer {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  height: 56px;
  min-width: $min-width;
  padding: 13px 0 14px;
  font-size: 12px;
  line-height: 29px;
  color: #757584;
  background-color: #EEEEEE;
  .footer-povered {
    float: right;
    margin-left: 10px;
    vertical-align: middle;
    span {
      display: inline-block;
      margin-right: 5px;
    }
  }
  .footer-logo {display: inline-block;}
  .footer-logo-img {
    display: inline-block;
    height: 29px;
  }
  .footer-text {
    margin: 0;
  }
}

