<div mc-full-panel mc-open-panel="detail" class="panel-group">
  <div class="panel panel-secondary" ng-if="getShowPanel('detail')">
    <div class="panel-heading">
      <div class="control-group right">
        <button class="btn btn-success btn-inverse btn-square hidden-xs hidden-sm btn-expand-panel" ng-click="changeFullPanel('details')"><i class="btn-icon fa fa-expand"></i><i class="btn-icon fa fa-compress"></i></button>
      </div>
      <h3 class="panel-title">Document Details</h3>
    </div>
    <div class="panel-body">
      <div class="panel-body-inner">

        <documents-detail-referral-component  ng-if="typeOfDocument === 'referral'" documentData="clinicalDocument"></documents-detail-referral-component>

        <documents-detail-discharge-component ng-if="typeOfDocument === 'discharge'" documentData="clinicalDocument"></documents-detail-discharge-component>

        <div class="form" ng-if="typeOfDocument !== 'referral' && typeOfDocument !== 'discharge'">
          <div class="form-group-wrapper">
            <div class="form-group">
              <div class="form-control-static">No Data</div>
            </div>
          </div>
        </div>

				<span class="patientSummary-spinner" us-spinner="{radius:20, width:8, length: 16}" spinner-key="detail-spinner" spinner-start-active="true"></span>
      </div>
    </div>
  </div>
</div>
