// Uncomment this palette is you want to use your custom theme

$user-palette: (
  base: #0D672F,
  auxiliary: #7cbe31,
  text: #303030,
  text-on-base: #ffffff,
  buttons: (
    default: #ffffff,
    primary: #337AB7,
    success: #007a41,
    info: #347BB7,
    warning: #F0AD4E,
    danger: #DA534F
  ),
  table: (
    text: #303030,
    background: #F3F3F3,
    header-background: #C5E29F,
    row-odd-background: #FDFDFD,
    row-background-hover: #E7EFDD,
    selected-background: #A9D38E,
    sorted-background: #E7EFDD,
    sorted-background-odd: #EFF7E5
  )
);