.chart-block {
  .chart-inner {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #bdbdbd;
    margin-bottom: 0;
    padding-bottom: 20px;
    padding-top: 10px;
  }
}
.chart-title-group {
  color: $text-color;
  margin-bottom: 5px;
  overflow: hidden;
  padding-top: 5px;
}
.chart-title {
  color: $text-color;
  font-size: 24px;
  line-height: 26px;
  margin: 0 0 7px;
}
.chart-subtitle {
  color: lighten($text-color, 30%);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 3px;
}
