.wrap-chart {
  padding-bottom: 5px;
  padding-top: 5px;
  user-select: none;
  width: 100% !important;
  &.bordered { border: 1px solid #b4b4b4; }
  &.chart-vitals {
    background-color : #eee; 
    margin-bottom: 6px;
    canvas {
      background-color: #eee;
      height: 441px !important;
      @include respond-from(md) {
        height: 525px !important;
      } 
    }
  }
  &.chart-dashboard canvas {
    height: 350px !important;
  }
}
