.dashboard {
  font-size: 0;
  line-height: 0;
  margin-left: (-1) * $gutter-small;
  margin-right: (-1) * $gutter-small;
  min-height: 300px;
  padding-top: 8px;
  @include respond-from(xs) {
    margin-left: (-1) * $gutter-big;
    margin-right: (-1) * $gutter-big;
  }
}
.dashboard-item {
  display: inline-block;
  margin-bottom: 14px;
  padding-left: $gutter-small;
  padding-right: $gutter-small;
  vertical-align: top;
  width: 100%;
  @include respond-from(xs) {
    padding-left: $gutter-big;
    padding-right: $gutter-big;
  }
}
@include respond-from(md) {
  .dashboard-item { width: 25%; }
  .showSidebar .dashboard-item { width: 33.333% }
}
@include respond-from(lg) {
  .showSidebar .dashboard-item {
    width: 25%
  }
}

.board {
  border: 1px solid #B4B5B4;
  color: map-get($colored-table, 'text');
  width: 100%;
  @include respond-to(xs) {
    border-left: 0;
    border-right: 0;
  }
}
.board-header {
  background-color: map-get($colored-table, 'header-background');
  padding: 5px;
  @include clearfix;
}
.board-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  margin: 0;
  padding: 0 5px;
  @include text-truncate;
}
.board-list {
  @include list-reset;
}
.board-list-item {
  background: map-get($colored-table, 'row-odd-background');
  min-height: 40px;
  &:nth-of-type(even) {
    background:  map-get($colored-table, 'background');
  }
}
.board-list-link {
  cursor: pointer;
  display: block;
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
  @include text-truncate;
}
.is-not-touch-device .board-list-link:hover {
  background: map-get($colored-table, 'row-background-hover');
}