.table thead tr th, 
.table tbody tr td {
  &.patient-control {
    &:before { display: none; }
    padding: 5px 4px 5px 7px;
    @include clearfix;
    @include respond-to(xs) { display: none; }
  }
}
.patient-buttons {
  @include clearfix;
  float: right; 
  width: 80px;
  @include respond-from(xs) {
    float: none;
    margin: 0 auto;
  }
  .btn { border-radius: 0; }
  .btn-view-patient { 
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 100%;
  }
  .btn-dropdown-toggle {
    float: right;
    margin-left: -1px;
    min-width: auto;
    padding: 0;
    width: 20px;
    &:after {
      margin-right: 1px;
      right: 50%;
      transform: translate(50%, -50%);
    }
  }
  &.dropdown.open {
    .btn-dropdown-toggle,
    .btn-dropdown-toggle:hover,
    .btn-dropdown-toggle:focus {
      background: $base-color !important;
      &:after {
        color: $text-on-base-color
      }
    }
  }
}
@include respond-to(xs) {
  .dropdown-menu.dropdown-menu-patients {
    right: -35px;
    width: 288px;
    .btn-smaller {
      height: 30px;
      line-height: 20px;
    }
  }
}

.wrap-patients-table {
  max-width: initial;
  overflow-x: auto; 
  width: 100%;
  .table {
    max-width: none;
    min-width: 100%;
    thead tr th,
    tbody tr td {
      @include respond-from(xs) { min-height: 40px; }
      word-wrap: normal;
    }
  }
}

.wrap-patients-table .table-patients-name,
.wrap-patients-table .table-patients-controls {
  min-width: 50px;
  position: absolute;
  top: 0;
  z-index: 2;
  @include respond-to(xs) { display: none; }
}
.wrap-patients-table .table-patients-name { 
  border-right: 0;
  left: 0; 
  width: auto;
  thead tr th:first-child, 
  tbody tr td:first-child {
    border-right: 1px solid #B4B5B4;
  }
}
.wrap-patients-table .table-patients-controls { 
  right: 0;
  width: auto;
}