.section + .section {
  margin-top: 15px;
}
// .section-main,
// .section-detail {
//   padding-top: 15px;
//   padding-bottom: 15px;
//   padding-left: 15px;
//   height: 568px;
// }

// .section-row {
//   height: 100%;
//   margin-right: -45px;
//   margin-left: -30px;
// }

// .section-detail .list-messages {
//   max-height: 10em;
//   overflow-y: auto;
//   li {
//     white-space: pre-wrap;
//     word-break: break-word;
//     word-wrap: break-word;
//   }
// }