.wrap-timeline {
  border: 1px solid #d8d8d8;
  margin-bottom: 7px;
  padding: 11px 8px 12px 14px;
}
.timeline-content-scroll {
  height: 648px;
  overflow: hidden;
}
.timeline {
  margin: 0 auto;
  max-width: 454px;
  overflow: hidden;
  padding-top: 14px;
  position: relative;
  .timeline-inner {
    margin-bottom: -20px;
    position: relative;
    z-index: 2;
  }
  &:before {
    background: $base-color;
    content: '';
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 3px;
    z-index: 1;
  }
}
.timeline-header {
  background: $base-color;
  color: #fff;
  display: block;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto 15px;
  padding: 4px;
  text-align: center;
  width: 169px;
}
.timeline-date-group {
  margin-bottom: 20px;
  overflow: hidden;
}
.timeline-date {
  clear: both;
  padding: 0 16px 0 0;
  width: 50%;
  &.left {
    .timeline-date-content {
      &:hover, &.active { 
        &:before { border-left-color: lighten(desaturate(adjust-hue($base-color, -56.0000), 41.5862), 67.4510); }
      }
      &:before,
      &:after {
        border-left-width: 10px;
        border-right-width: 0;
      }
      &:before {
        border-left-color: #fff;
        right: -9px;
      }
      &:after {
        border-left-color: $base-color;
        right: -10px;
      }
    }
  }
  &.right {
    float: right;
    padding: 0 0 0 16px;
    .timeline-date-content {
      &:hover, &.active { 
        &:before { border-right-color: lighten(desaturate(adjust-hue($base-color, -56.0000), 41.5862), 67.4510); }
      }
      &:before,
      &:after {
        border-left-width: 0;
        border-right-width: 10px;
      }
      &:before {
        border-right-color: #fff;
        left: -9px;
      }
      &:after {
        border-right-color: $base-color;
        left: -10px;
      }
    }
  }
}
.timeline-date-content {
  background: #fff;
  border: 1px solid $base-color;
  color: $text-color ;
  cursor: pointer;
  font-size: 12px;
  padding: 7px;
  position: relative;
  text-align: center;
  &:hover, &.active { background: lighten(desaturate(adjust-hue($base-color, -56.0000), 41.5862), 67.4510); }
  &:before,
  &:after {
    border-bottom-width: 6px;
    border-color: transparent;
    border-style: solid;
    border-top-width: 6px;
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &:before { z-index: 2; }
  &:after { z-index: 1; }
}
.timeline-date-title {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 7px;
  word-wrap: break-word;
}
.timeline-date-subtitle {
  color: $base-color;
  margin-bottom: 6px;
}