$vitalsInputColor: (
  warning: #e3d19d,
  danger: #ca9193,
  success: #94ceaa
);
.vitals-group-wrapper {
  padding-top: 7px;
  padding-bottom: 5px;
  margin-bottom: -23px;
}
.vitals-group {
  position: relative;
  margin-bottom: 23px;
  padding-left: 12px;
  .input-holder,
  .input-group {
    padding-bottom: 3px;
  }
}
.vitals-holder {
  width: 150px;
  .form-control {
    width: 51px;
  }
  .vitals-addon {
    float: right;
    width: 99px;
    padding: 0 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 28px;
    color: #000000;
    background-color: #e8e8e8;
    border: 1px solid #c3c3c3;
    border-left: 0;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
  }
}
@each $vitalInput, $color in $vitalsInputColor {
  .vitals-holder.#{$vitalInput} .form-control {
    background-color: $color;
  }
}
.vitals-label {
  display: block; 
  margin-bottom: 4px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  color: #959595;
}
.vitals-static {
  min-height: 18px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #303030;
}

.vitals-popover {
  display: block;
  width: 266px;
  padding: 0;
  border: 1px solid #c3c3c3;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  &.in {
    opacity: 1;
    visibility: visible;
  }
  .popover-title {
    padding: 0 10px;
    font-size: 13px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    background: #e8e8e8;
    border-bottom: 1px solid #c3c3c3;
  }
  .popover-content {
    padding: 10px;
  }
  .range-vital-labels {
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    .range-vital-label {
    }
  }
  & > .arrow {
      border-width: 6px;
      &:after {
        border-width: 5px;
      }
  }
  &.right,
  &.left {
    top: 50% !important;
    transform: translateY(-50%);
  }
  &.right {
    right: auto;
    left: 100%;
    margin-left: 10px;

  }
  &.left {
    left: auto;
    right: 100%;
    margin-right: 10px;
  }
  &.top {
    top: auto;
    bottom: 100%;
    left: 0;
    transform: translateY(-8px);
  }
  &.right > .arrow
  &.left > .arrow {
      top: 50%;
      margin-top: -6px;
  }

  &.right > .arrow {
      left: -8px;
      border-left-width: 0;
      border-right-width: 8px;
      border-right-color: #c3c3c3;
      &:after {
        bottom: -5px;
        border-right-width: 8px;
      }
  }
  &.left > .arrow {
      right: -8px;
      margin-top: -6px;
      border-right-width: 0;
      border-left-width: 8px;
      border-left-color: #c3c3c3;
      &:after {
        bottom: -5px;
        border-left-width: 8px;
      }
  }
  &.top > .arrow {
      margin-left: -6px;
      border-bottom-width: 0;
      border-top-width: 8px;
      border-top-color: #c3c3c3;
      bottom: -8px;
      &:after {
        margin-left: -5px;
        border-top-width: 8px;
      }
  }
  .popover.top>.arrow {
  }
}


.wrap-chart {
  margin-bottom: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #b4b4b4;
  background-color : #eee; 
  canvas {
    width: 100% !important;
    height: 441px !important;
    background-color : #eee; 
  }
}
