.vitals-group {
  position: relative;
  margin-bottom: 23px;
  padding-left: 12px;
}
.vitals-label {
  display: block;
  margin-bottom: 4px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  color: #959595;
}
.vitals-static {
  min-height: 18px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #303030;
}