$vitalsInputColor: (
  warning: #e3d19d,
  danger: #ca9193,
  success: #94ceaa,
  normal: #ffffff
);

.vitals-group-wrapper {
  margin-bottom: -23px;
  padding-bottom: 5px;
  padding-top: 7px;
}
.vitals-group {
  margin-bottom: 23px;
  margin-left: -11px;
  padding-left: 12px;
  position: relative;
  .highlighter { width: 5px; }
  .highlighter-not-vital { width: 3px; }
  .input-holder,
  .input-group { padding-bottom: 3px; }
}
@include respond-from(xs) {
  .vitals-group {
    margin-left: 0;
    .highlighter { width: 4px; }
    .highlighter-not-vital { width: 1px; }
  }
}
.vitals-holder {
  width: 150px;
  .form-control {
    background-color: #fff;
    color: #000000;
    width: 55px;
  }
  .vitals-addon {
    background-color: #e8e8e8;
    border-radius: 0 2px 2px 0;
    border: 1px solid #c3c3c3;
    border-left: 0;
    color: #000000;
    display: block;
    font-size: 14px;
    font-weight: normal;
    height: 30px;
    line-height: 28px;
    overflow: hidden;
    padding: 0 12px;
    &.popover-toggle { cursor: pointer; }
  }
}
@each $vitalInput, $color in $vitalsInputColor {
  .vitals-holder.#{$vitalInput} .form-control {
    background-color: $color;
  }
}

.vitals-label {
  color: #959595;
  display: block; 
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 4px;
}
.vitals-static {
  color: $text-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  min-height: 18px;
}

.vitals-popover {
  border: 1px solid #c3c3c3;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
  display: block;
  opacity: 0;
  padding: 0;
  visibility: hidden;
  width: 275px;
  &.in {
    opacity: 1;
    visibility: visible;
  }
  .popover-title {
    background: #e8e8e8;
    border-bottom: 1px solid #c3c3c3;
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    padding: 0 10px;
  }
  .popover-content {
    padding: 0 12px;
    position: relative;
  }
  & > .arrow {
    border-width: 6px;
    &:after {
      border-width: 5px;
    }
  }
  &.right,
  &.left {
    top: 50% !important;
    transform: translateY(-50%);
  }
  &.right {
    left: 100%;
    margin-left: 10px;
    right: auto;
  }
  &.left {
    left: auto;
    margin-right: 10px;
    right: 100%;
  }
  &.top {
    bottom: 100%;
    left: 0;
    top: auto;
    transform: translateY(-8px);
  }
  &.right > .arrow
  &.left > .arrow {
    margin-top: -6px;
    top: 50%;
  }
  &.right > .arrow {
    border-left-width: 0;
    border-right-color: #c3c3c3;
    border-right-width: 8px;
    left: -8px;
    &:after {
      border-right-width: 8px;
      bottom: -5px;
    }
  }
  &.left > .arrow {
    border-left-color: #c3c3c3;
    border-left-width: 8px;
    border-right-width: 0;
    margin-top: -6px;
    right: -8px;
    &:after {
      border-left-width: 8px;
      bottom: -5px;
    }
  }
  &.top > .arrow {
    border-bottom-width: 0;
    border-top-color: #c3c3c3;
    border-top-width: 8px;
    bottom: -8px;
    margin-left: -6px;
    &:after {
      border-top-width: 8px;
      margin-left: -5px;
    }
  }
}

.range-vital-labels {
  color: #000000;
  font-size: 12px;
  line-height: 14px;
  padding: 26px 0 23px;
  position: relative;
}
.range-vital-label {
  display: none;
  position: absolute;
  white-space: nowrap;
  &.place-1, &.place-2, &.place-3, 
  &.place-4, &.place-5, &.place-6, &.place-7 { display: block; }
  
  &.place-1 { top: 10px; left: 0; }
  &.place-2 { top: 39px; left: 16.67%; transform: translateX(-50%); }
  &.place-3 { top: 10px; left: 33.34%; transform: translateX(-50%); }
  &.place-4 { top: 39px; left: 50%;    transform: translateX(-50%); }
  &.place-5 { top: 10px; left: 66.66%; transform: translateX(-50%); }
  &.place-6 { top: 39px; left: 83.33%; transform: translateX(-50%); }
  &.place-7 { top: 10px; right: 0; }
}
