<div class="transbox">
  <div class="innerTransbox">
    <h3><strong>Transfer of care</strong></h3>

    <div class="form-horizontal text-left">

      <div class="form-group">
        <label class="control-label col-md-3">Problems:</label>
        <div class="col-md-9">
          <div class="form-control-static">
            <span ng-if="!$ctrl.problems.length">No problems selected</span>
            <ul>
              <li ng-repeat="(key,value) in $ctrl.problems">{{value.problem}}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3">Medications:</label>
        <div class="col-md-9">
          <div class="form-control-static">
            <span ng-if="!$ctrl.medications.length">No medication selected</span>
            <ul>
              <li ng-repeat="(key,value) in $ctrl.medications">{{value.medication}}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3">Allergies:</label>
        <div class="col-md-9">
          <div class="form-control-static">
            <span ng-if="!$ctrl.allergies.length">No allergies selected</span>
            <ul>
              <li ng-repeat="(key,value) in $ctrl.allergies">{{value.allergy}}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3">Contacts:</label>
        <div class="col-md-9">
          <div class="form-control-static">
            <span ng-if="!$ctrl.contacts.length">No contacts selected</span>
            <ul>
              <li ng-repeat="(key,value) in $ctrl.contacts">{{value.contactName}}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3">Reason for contact:</label>
        <div class="col-md-9">
          <div class="form-control-static">
            {{$ctrl.transferOfCare.reasonForContact}}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <span class="patientSummary-spinner" us-spinner="{radius:20, width:8, length: 16}" spinner-key="transferDetail-spinner" spinner-start-active="true"></span>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3">Clinical Summary:</label>
        <div class="col-md-9">
          <div class="form-control-static">
            {{$ctrl.transferOfCare.clinicalSummary}}
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3">From (Site / Org):</label>
        <div class="col-md-9">
          <div class="form-control-static">
            {{$ctrl.transferOfCare.siteFrom}}
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3">To (Site / Org):</label>
        <div class="col-md-9">
          <div class="form-control-static">
            {{$ctrl.transferOfCare.siteTo}}
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3">Date of Transfer:</label>
        <div class="col-md-9">
          <div class="form-control-static">
            {{$ctrl.transferOfCare.dateOfTransfer | date:'dd-MMM-y' }}
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3">Source:</label>
        <div class="col-md-9">
          <div class="form-control-static">local</div>
        </div>
      </div>

    </div>
  </div>
</div>
